
:root {
    /* colors */
    --primary: #51DD8C;
    --secondary: #D5F7E3;
    --background: #DEE8E2;
    --pastel: #808b84;

    --purple: #CFA6CE;
    --white: #FFFFFF;
    --black: #000000;
    --grey:  #CCCCCC;

    --pd-120: 0px 120px;
}

/*=============== Globa Styles ==============*/
body {
    font-family: Helvetica, sans-serif;
    background-color: var(--background);
}

.textHighlight {
    background-color: var(--primary);
    padding: 5px;
}

.c_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  var(--pd-120);
}

.textBold {
    font-weight: bold;
}

button {
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

/*=============== Header ==============*/
.c_header__container {
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 36px;
    background-color: var(--black);
    padding: 16px 120px;
}

.c_header-button {
    background-color: var(--primary);
    color: var(--white);
    padding: 10px 17px;
    border-radius: 7px;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
}

.logo {
    display: flex;
    gap: 12px;
}

.logo img {
    width: 50px;
}

.logo p {
    font-size: 32px;
    font-weight: bold;
}

/*=============== Hero Section ==============*/
.c_hero__container {
    align-items: flex-start;
    padding-top: 94px;
    padding-bottom: 44px;
}

.c_hero__description {
    display: flex;
    flex-direction: column;
    width: 507px;
    height: 355px;
    gap: 18px;
}

.c_hero__description h2 {
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 0px;
}

.c_hero__buttons {
    display: flex;
    gap: 28px;
    margin-top: 32px;
}

.c_hero__button {
    display: flex;
    background-color: var(--black);
    color: var(--white);
    padding: 14px 28px;
    border-radius: 12px;
}

.c_hero__buttons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    padding: 10px 20px;
    border-radius: 8px;
}

.google-play-store,
.apple-store 
{
    color: var(--grey);
    font-weight: lighter;
}

.c_hero__buttons img,
.c_hero__buttons img 
{
    width: 35px;
    margin-right: 15px;
}

.store_type-container p 
{
    font-size: 20px;
}

.c-hero_nb_container {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: bold;
}

.c-hero_nb_download {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.c-hero_nb_download p:first-child {
    font-size: 22px;
    margin-top: 15px;
}

.c-hero_nb_download img {
    margin-bottom: -12px;
}

.c-green_container {
    display: flex;
    max-width: 498px;
    max-height: 494px;
    border-radius: 24px;
    background: var(--primary);
}

/*=============== Steps Section ==============*/
.c-steps_item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 58px;
}

.c-steps_item h3 {
    font-size: 28px;
}

/*============== Statistics Section =========*/
.c_statistics__container {
    text-align: center;
    padding: 55px 160px;
    color: var(--white);

    background-image: url('../assets/backgrounds/statistics-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.c_statistics_details h3 {
    color: var(--primary);
    font-size: 26px;
    margin-bottom: 0;
}

/*============== Testimonials Section =========*/
.c_testimonials__container {
  padding-top: 90px;
  padding-bottom: 90px;
}

.c_testimonials__container h2 {
    text-align: center;
    padding-bottom: 32px;
}

.c_testimonials_highlight {
    background-color: var(--purple);
    color: var(--white);
    padding: 5px;
}

.c_testimonials__card {
    display: flex;
    color: var(--black);
    border-radius: 0px 55px;
    background-color: var(--white);
    width: 386px;
    height: 222px;
}

.c_testimonials__note {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.c_testimonials__note h3 {
    margin-bottom: 0px;
}

.c_testimonials__note img {
    width: 123px;
}

.c_testimonials_arrows {
    display: flex;
    margin-top: 32px;
    justify-content: flex-end;
    padding-right: 120px;
}

/*============== Footer =========*/

.c_footer__container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/backgrounds/footer-bg.svg');
    color: var(--white);
    padding: 55Px;
}

.c_footer__info {
    padding: 0px 79px;
}

.c_footer__logo {
    display: flex;
    gap: 18px;
}

.c_footer__logo img {
    width: 50px;
}

.c_footer__images {
    display: flex;
    align-items: center;
    gap: 56px;
    margin-top: 127px;
    margin-bottom: 50px;
}

.c_footer__links {
    display: flex;
    gap: 120px;
    margin-bottom: 64px;
}

.c_footer__insta {
    width: 30px;
}

.c_footer__sitemap {
    font-weight: lighter;
}

.mail{
    margin-top: 8px;
    font-weight: lighter;
    text-decoration: underline;
}


.newsletterContainer {
    padding-bottom: 65px;
}

.columnContainer {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--pastel);
}

input {
    border: none;
    padding: 10px;
    font-size: 32px; 
    color: var(--white);
    background: transparent;
    outline: none; 
}

::placeholder {
    font-size: 34px;
    font-weight: 100;
    color: var(--pastel);
    font-weight: 600;
}
  

.sendButton {
    background-color: var(--primary);
    font-size: 20px; 
    color: var(--white);
    border-radius: 7px;
    padding: 14px 28px;
    font-weight: 600;
}

.Copyright {
    font-size: 14px;
    font-weight: lighter;
}